.nav-container {
  display: flex;
  flex: 1;
  width: 70vw;
  justify-content: space-between;
}

.im-logo {
  width: 12vw;
  height: 8vh;
}

.nav-components {
  display: flex;
  width: 30vw;
  justify-content: right;
  flex-direction: row;
  align-items: center;
}

.nav-div2 {
  width: 10vh;
  align-items: center;
  text-align: center;
  font-size: var(--fnt-07-size);
  color: var(--grey-300);
}
.nav-div3 {
  width: 12vh;
  align-items: center;
  text-align: center;
  font-size: var(--fnt-07-size);
  color: var(--grey-300);
}
.nav-div4 {
  width: 10vh;
  align-items: center;
  text-align: center;
  font-size: var(--fnt-07-size);
  color: var(--grey-300);
}
